node-red/ali-express-tracking-mqtt/node-red.json
[
    {
        "id": "63aca4f8.642a3c",
        "type": "inject",
        "z": "ac868d3f.96843",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "866aa571.eb9748"
            ]
        ]
    },
    {
        "id": "866aa571.eb9748",
        "type": "ha-get-entities",
        "z": "ac868d3f.96843",
        "server": "a6bf5b06.8f4708",
        "name": "Email Entity",
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "sensor.email_",
                "valueType": "str"
            }
        ],
        "output_type": "random",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "57665d65.e8f5e4"
            ]
        ]
    },
    {
        "id": "57665d65.e8f5e4",
        "type": "function",
        "z": "ac868d3f.96843",
        "name": "Ali Express",
        "func": "\nconst allEmails = msg.payload.attributes.emails;\n\nconst aliEmails = allEmails.filter(e => e.from.includes('aliexpress.com'))\nif(aliEmails.length === 0){\n    msg.payload = {trackingNumbers: [], count: 0};\n    return msg;\n}\n\nconst matchingString = 'Order_Id_'\nconst regex = new RegExp(matchingString, 'gi');\nconst trackingNumberLength = 14;\n\nlet result;\nconst trackingNumbers = [];\n\naliEmails.forEach(email => {\n    const subjects = email.subject.split(matchingString);\n    const trackingNumber = subjects[subjects.length-1].slice(0, trackingNumberLength);\n    \n    if(!trackingNumbers.includes(trackingNumber)){\n        trackingNumbers.push(trackingNumber);\n    }\n    \n});\n\n\nmsg.payload = {trackingNumbers, count: trackingNumbers.length};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "ddf5d41a.149358"
            ]
        ]
    },
    {
        "id": "ddf5d41a.149358",
        "type": "mqtt out",
        "z": "ac868d3f.96843",
        "name": "MQTT Ali Express",
        "topic": "aliexpress",
        "qos": "",
        "retain": "",
        "broker": "87bba2bf.60ac7",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "a6bf5b06.8f4708",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    },
    {
        "id": "87bba2bf.60ac7",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]