node-red/rockauto-tracking-mqtt/node-red.json
[
    {
        "id": "cab766b0.e6e698",
        "type": "inject",
        "z": "ac868d3f.96843",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "c370b148.2337"
            ]
        ]
    },
    {
        "id": "c370b148.2337",
        "type": "ha-get-entities",
        "z": "ac868d3f.96843",
        "server": "a6bf5b06.8f4708",
        "name": "Email Entity",
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "sensor.email_",
                "valueType": "str"
            }
        ],
        "output_type": "random",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 330,
        "y": 500,
        "wires": [
            [
                "6e0a90d0.2c7d4"
            ]
        ]
    },
    {
        "id": "6e0a90d0.2c7d4",
        "type": "function",
        "z": "ac868d3f.96843",
        "name": "RockAuto",
        "func": "\nconst allEmails = msg.payload.attributes.emails;\n\nconst matchingEmails = allEmails.filter(e => e.from.includes('service@rockauto.com'))\nif(matchingEmails.length === 0){\n    msg.payload = {trackingNumbers: [], count: 0};\n    return msg;\n}\n\nconst matchingString = `Track Your Package At:  =20`;\nconst regex = new RegExp(matchingString, 'gi');\nconst trackingNumberLength = 16;\n\nlet result;\nconst trackingNumbers = [];\n\nmatchingEmails.forEach(email => {\n   while ( (result = regex.exec(email.msg)) ) {\n        const start = result.index + matchingString.length;\n        const end = start + trackingNumberLength;\n        const trackingNumber = email.msg.substring(start, end).trim();\n        if(!trackingNumbers.includes(trackingNumber)){\n            trackingNumbers.push(trackingNumber);\n        }\n    } \n});\n\n\nmsg.payload = {trackingNumbers, count: trackingNumbers.length};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 500,
        "wires": [
            [
                "a8663df0.2f426"
            ]
        ]
    },
    {
        "id": "a8663df0.2f426",
        "type": "mqtt out",
        "z": "ac868d3f.96843",
        "name": "MQTT RockAuto",
        "topic": "rockauto",
        "qos": "",
        "retain": "",
        "broker": "87bba2bf.60ac7",
        "x": 710,
        "y": 500,
        "wires": []
    },
    {
        "id": "a6bf5b06.8f4708",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    },
    {
        "id": "87bba2bf.60ac7",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]