node-red/usps-tracking-mqtt/node-red.json
[
    {
        "id": "38c0e831.d05c48",
        "type": "inject",
        "z": "ac868d3f.96843",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "15cc7103.feefcf"
            ]
        ]
    },
    {
        "id": "15cc7103.feefcf",
        "type": "ha-get-entities",
        "z": "ac868d3f.96843",
        "server": "a6bf5b06.8f4708",
        "name": "Email Entity",
        "rules": [
            {
                "property": "entity_id",
                "logic": "starts_with",
                "value": "sensor.email_",
                "valueType": "str"
            }
        ],
        "output_type": "random",
        "output_empty_results": false,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "9e127d66.9fd32"
            ]
        ]
    },
    {
        "id": "9e127d66.9fd32",
        "type": "function",
        "z": "ac868d3f.96843",
        "name": "USPS",
        "func": "\nconst allEmails = msg.payload.attributes.emails;\nconst uspsEmails = allEmails.filter(e => e.from.includes('USPS'))\nif(uspsEmails.length === 0){\n    msg.payload = {trackingNumbers: [], count: 0};\n    return msg;\n}\n\nconst matchingString = 'nowrap;word-break:normal\">'\nconst regex = new RegExp(matchingString, 'gi');\nconst trackingNumberLength = 22;\n\nlet result;\nconst trackingNumbers = [];\n\nuspsEmails.forEach(email => {\n   while ( (result = regex.exec(email.msg)) ) {\n        const start = result.index + matchingString.length;\n        const end = start + trackingNumberLength;\n        const trackingNumber = email.msg.substring(start, end);\n        if(!trackingNumbers.includes(trackingNumber)){\n            trackingNumbers.push(trackingNumber);\n        }\n    } \n})\n\n\nmsg.payload = {trackingNumbers, count: trackingNumbers.length};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 60,
        "wires": [
            [
                "41edc195.2522b"
            ]
        ]
    },
    {
        "id": "41edc195.2522b",
        "type": "mqtt out",
        "z": "ac868d3f.96843",
        "name": "MQTT USPS",
        "topic": "usps",
        "qos": "",
        "retain": "",
        "broker": "87bba2bf.60ac7",
        "x": 670,
        "y": 60,
        "wires": []
    },
    {
        "id": "a6bf5b06.8f4708",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    },
    {
        "id": "87bba2bf.60ac7",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]